.block_map {
    width: 100%;
    height: 400px;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
}

.modal-peer{
    p{
        &:first-child{
            margin-bottom: 23px;
        }
        &:nth-child(2){
            margin-bottom: 10px;
        }
    }
}

.list_table{
    .table{
        td{
            &:nth-child(6){
                width: 100%;
                display: inline-block;
                line-height: 40px;
                >span{
                    display: inline-block;
                }
            }
        }
    }
}

@media only screen and (max-width: 780px) {
    .block_map {
        display: block;
        width: auto;
        margin: 0 15px;
        height: 200px;
        margin-bottom: 20px;
        border-radius: 4px;
    }
    .peer_link {
        display: none;
    }
    #peers_table .linker.service {
        display: none;
    }
}
