.block_account{
    .w{
        background: #fff;
        height: 290px;
        text-align: center;
        border-radius: 4px;
        .account_address{
            margin-left: 112px;
            color:#493eda;
            font:{
                size:18px;
                family: "Microsoft YaHei UI";
            }
            img{
                vertical-align: middle;
                margin: 0 20px 0 10px;
            }
            span{
                &:first-child{
                    vertical-align: middle;
                    font-weight: bold;
                }
                &:last-child{
                    font-size:14px;
                }
            }
        }
        .account_asset{
            margin-top: 50px;
            color:#333;
            font:{
                size:24px;
                family: "Microsoft YaHei UI";
                weight: bold;
            }
        }
        .account_tool{
            text-align: center;
            display: inline-flex;
            margin-top: 50px;
            .common_btn{
                width:120px;
            }
        }
    }
}

.block_receiptDisbursement{
    .w{
        background: #fff;
        height: 200px;
        display: flex;
        div{
            border:1px solid #f00;
            height: 100%;
            text-align: center;
        }
    }
}
