.header .pc {
    display: flex;
}
.pc {
    display: block;
}
.pc-table {
    display: table-cell;
}
.mobile {
    display: none;
}
.block_account {
    .w {
        background: #fff;
        height: 290px;
        text-align: center;
        border-radius: 4px;

        .account_address {
            //margin-left: 112px;
            color: #493eda;
            font: {
                size: 18px;
                family: "Microsoft YaHei UI";
            }

            img {
                vertical-align: middle;
                margin: 0 20px 0 10px;
                width: 16px;
                height: 16px;
            }

            span {
                &:first-child {
                    vertical-align: middle;
                    font-weight: bold;
                }

                &:last-child {
                    font-size: 14px;
                }
            }
        }
        .account_info{
            cursor:pointer;
            padding-top: 20px;
            font-weight: bold;
            color: #493eda;
            font-size: 14px;
        }
        .account_asset {
            margin-top: 20px;
            color: #333;
            font: {
                size: 24px;
                family: "Microsoft YaHei UI";
                weight: bold;
            }
        }

        .account_tool {
            text-align: center;
            display: inline-flex;
            margin-top: 50px;

            .common_btn {
                width: 130px;
            }
        }
    }
}

.block_receiptDisbursement {
    .w {
        background: #fff;
        height: 200px;
        display: flex;

        div {
            text-align: center;

        }
    }
}

.block_list {
    .transaction_type {
        //float: left;
        height: 30px;
        .el-select {
            height: 24px;
            width: 80px;

            .el-input__inner {
                font-size: 13px;
                width: 80px;
                height: 24px;
                //margin-left: 20px;
                background: transparent;
                border: 1px solid #493eda;
                padding: 0 15px 0 0;
                text-align: center;
            }
        }

        .el-input__suffix {
            top: -12px;
            right: 0px;
            //right: -20px;
        }

        .btn {
            cursor: pointer;
            font-size: 13px;
            padding: 5px 10px;
            border: 0.5px solid #493eda;
            border-radius: 4px;
            margin-right: 10px;
        }

        .active {
            background: #493eda;
            color: #fff;
        }
    }
}

#file {
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 40px;
    right: 0;
    top: 30px;
    opacity: 0;
}


#trading_info {
    top: 80px;

    .table {
        td {
            width: 980px;
            padding: 0 60px;
        }

        th {
            width: 160px;
        }
    }
}

#account_info {
    .modal-header {
        border-bottom: none;
        padding: 0 20px 0 60px;
        height: auto;
    }

    .modal-body {
        margin: 20px 0 40px;

        .table {
            border: none;

            td {
                border: none;
                padding-left: 0;
                width: 900px;
                line-height: normal;
                font-weight: bold;

                .accountName {
                    span {
                        line-height: 40px;
                        vertical-align: middle;
                    }

                    img {
                        margin-left: 20px;
                        width: 20px;
                        line-height: 40px;
                        vertical-align: middle;
                    }
                }

                .rewriteName {
                    .el-input {
                        width: 140px;

                        .el-input__inner {
                            height: 30px;
                        }

                        .el-input__inner:focus {
                            border-color: #493eda;
                        }
                    }

                    .common_btn {
                        width: 60px;
                        height: 30px;
                        margin-left: 10px;
                    }
                }

                .QRcode {
                    position: relative;
                    height: 80px;
                    padding-top: 10px;

                    img {
                        width: 25px;
                        display: inline;

                        &:hover {
                            width: 80px;
                        }
                    }
                }

            }

            th {
                border: none;
                text-align: left;
                padding-left: 60px;
                font-weight: normal;
            }

            tr {
                background: none;
            }

            .th80 {
                vertical-align: top;
                padding-top: 10px;
            }

        }
    }
}

#send_message_modal {
    .modal-content {
        .modal-message {

        }
    }
}



@media only screen and (max-width: 780px) {
    #app .page-layout-inner .header {
        display: block;
        margin-bottom: 20px;
    }
    .header {
        min-width: 300px;
        max-width: 375px;
        height: 100px;
    }
    .header .pc,
    .pc,
    .pc-table {
        display: none;
    }
    .mobile {
        display: block;
    }
    .nav-right {
        display: flex;
        justify-content: space-around;
        font-size: 14px;
    }
    .navbar {
        display: flex;
        justify-content: space-around;

        .navbar_exit {
            height: 60px;
            line-height: 60px;
            padding: 0 5px;
            color: #493eda;
        }
    }
    .navbar_lang {
        line-height: 60px;
        .el-input--suffix .el-input__inner {
            width: 70px;
            padding: 5px;
        }
        .el-input__suffix {
            display: none;
        }
        .el-input__inner {
            border: 0;
        }
    }
    .navbar_search {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        div {
            top: 25%;
            position: absolute;

            img {
                position: absolute;
                right: 15px;
                top: 13px;
                width: 15px;
                height: 15px;
            }

            .navbar_search_input {
                width: 100px;
                height: 30px;
                background: #edeff5;
                border: none;
                border-radius: 20px;
                padding-left: 20px;
                color: #999;
                font-size: 13px;
                outline: none;
                transition: 500ms width;
                margin-top: 5px;

            }

            .navbar_search_input_active {
                transition: 500ms width;
                width: 280px;
            }

        }
    }
    #app .page-layout main {
        padding-top: 10px;
    }



    #app .page-layout main {
        width: auto !important;

        .main-content {
            width: 100%;

            .container {
                max-width: 375px;
            }
        }
    }

    #trading_info,
    #transfer_accounts_modal,
    #send_message_modal,
    #account_info,
    #block_info,
    #account_transaction {
        position: fixed;
        top: 50px;
    }

    .modal,
    .modal_info {
        width: 350px;
    }

    .modal-content .el-form {
        padding-left: 15px;
        padding-right: 15px;
    }

    #trading_info .modal-body {
        max-height: 400px;
        overflow-y: auto;
    }

    #account_info .modal-body .table  {
        th {
            padding-left: 15px;
        }
        td {
            padding-left: 8px;
            padding-right: 10px;
        }
    }
    #account_transaction .modal-body div {
        max-height: 450px;
        overflow-y: auto;
    }
    #account_info .modal-body .account_allInfo .account_list #account_info_table_body {
        max-height: 300px;
    }
    .modal .modal-dialog .modal-content .modal-body {
        margin: 0;
    }
    #block_info.modal_info .modal-body {
        max-height: 400px;
        margin: 65px 20px 40px !important;
    }
    .block_receiptDisbursement .w {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;

        .whf {
            width: 90%;
            height: 400px;
        }
    }
    .block_list {
        .fl {
            float: none;
            padding-left: 15px;
        }
        .transaction_type {
            margin-top: 10px;
            padding-left: 15px;
        }
        .list_table {
            margin-top: 30px;
        }
    }

    .table.table_striped .w300 {
        width: 100px;
    }
    .icon-box {
        display: flex;
        height: 38px;
        align-items: center;
    }
    .block_title {
        padding-left: 15px;
    }

    .list_pagination .el-pagination--small .el-pagination__jump {
        display: block;
        margin-top: 10px;
    }
    .block_list .list_table .list_pagination {
        height: 90px;
    }
}
