.block_account {
    .w {
        background: #fff;
        height: 290px;
        text-align: center;
        border-radius: 4px;

        .account_address {
            //margin-left: 112px;
            color: #493eda;
            font: {
                size: 18px;
                family: "Microsoft YaHei UI";
            }

            img {
                vertical-align: middle;
                margin: 0 20px 0 10px;
                width: 16px;
                height: 18px;
            }

            span {
                &:first-child {
                    vertical-align: middle;
                    font-weight: bold;
                }

                &:last-child {
                    font-size: 14px;
                }
            }
        }
        .account_info{
            cursor:pointer;
            padding-top: 20px;
            font-weight: bold;
            color: #493eda;
            font-size: 14px;
        }
        .account_asset {
            margin-top: 20px;
            color: #333;
            font: {
                size: 24px;
                family: "Microsoft YaHei UI";
                weight: bold;
            }
        }

        .account_tool {
            text-align: center;
            display: inline-flex;
            margin-top: 50px;

            .common_btn {
                width: 130px;
            }
        }
    }
}

.block_receiptDisbursement {
    .w {
        background: #fff;
        height: 200px;
        display: flex;

        div {
            text-align: center;

        }
    }
}

.block_list {
    .transaction_type {
        //float: left;
        height: 30px;
        .el-select {
            height: 24px;
            width: 80px;

            .el-input__inner {
                font-size: 13px;
                width: 80px;
                height: 24px;
                //margin-left: 20px;
                background: transparent;
                border: 1px solid #493eda;
                padding: 0 15px 0 0;
                text-align: center;
            }
        }

        .el-input__suffix {
            top: -12px;
            right: 0px;
            //right: -20px;
        }

        .btn {
            cursor: pointer;
            font-size: 13px;
            padding: 5px 10px;
            border: 0.5px solid #493eda;
            border-radius: 4px;
            margin-right: 10px;
        }

        .active {
            background: #493eda;
            color: #fff;
        }
    }
}

#file {
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 40px;
    right: 0;
    top: 30px;
    opacity: 0;
}


#trading_info {
    top: 80px;

    .table {
        td {
            width: 980px;
            padding: 0 60px;
        }

        th {
            width: 160px;
        }
    }
}

#account_info {
    .modal-header {
        border-bottom: none;
        padding: 0 20px 0 60px;
        height: auto;
    }

    .modal-body {
        margin: 20px 0 40px;

        .table {
            border: none;

            td {
                border: none;
                padding-left: 0;
                width: 900px;
                line-height: normal;
                font-weight: bold;

                .accountName {
                    span {
                        line-height: 40px;
                        vertical-align: middle;
                    }

                    img {
                        margin-left: 20px;
                        width: 20px;
                        line-height: 40px;
                        vertical-align: middle;
                    }
                }

                .rewriteName {
                    .el-input {
                        width: 140px;

                        .el-input__inner {
                            height: 30px;
                        }

                        .el-input__inner:focus {
                            border-color: #493eda;
                        }
                    }

                    .common_btn {
                        width: 60px;
                        height: 30px;
                        margin-left: 10px;
                    }
                }

                .QRcode {
                    position: relative;
                    height: 80px;
                    padding-top: 10px;

                    img {
                        width: 25px;
                        display: inline;

                        &:hover {
                            width: 80px;
                        }
                    }
                }

            }

            th {
                border: none;
                text-align: left;
                padding-left: 60px;
                font-weight: normal;
            }

            tr {
                background: none;
            }

            .th80 {
                vertical-align: top;
                padding-top: 10px;
            }

        }
    }
}

#send_message_modal {
    .modal-content {
        .modal-message {

        }
    }
}
