@import '../../styles/css/vars.scss';
.block_account {
    .w {
        background: #fff;
        height: 290px;
        text-align: center;
        border-radius: 4px;

        .account_address {
            //margin-left: 112px;
            color: $primary_color;
            font: {
                size: 18px;
                family: "Microsoft YaHei UI";
            }

            img {
                vertical-align: middle;
                margin: 0 20px 0 10px;
                width: 16px;
                height: 16px;
            }

            span {
                &:first-child {
                    vertical-align: middle;
                    font-weight: bold;
                }

                &:last-child {
                    font-size: 14px;
                }
            }
        }
        .account_info{
            cursor:pointer;
            padding-top: 20px;
            font-weight: bold;
            color: $primary_color;
            font-size: 14px;
        }
        .account_asset {
            margin-top: 20px;
            color: #555;
            font: {
                size: 24px;
                family: "Microsoft YaHei UI";
                weight: bold;
            }
        }

        .account_tool {
            text-align: center;
            display: inline-flex;
            margin-top: 50px;

            .common_btn {
                width: 100px;
                margin: 0 5px;
            }
        }
    }
}

.block_receiptDisbursement {
    .w {
        background: #fff;
        height: 200px;
        display: flex;

        div {
            text-align: center;

        }
    }
}

.block_list {
    .transaction_type {
        //float: left;
        height: 30px;
        .el-select {
            height: 28.5px;
            width: 80px;

            .el-input__inner {
                font-size: 13px;
                width: 80px;
                height: 28.5px;
                //margin-left: 20px;
                background: transparent;
                border: 1px solid $primary_color;
                padding: 5px 15px 5px 5px;
                text-align: center;
            }
        }

        .el-input__suffix {
            top: -15px;
            right: 0px;
            //right: -20px;
        }

        .btn {
            cursor: pointer;
            font-size: 13px;
            padding: 5px 10px;
            border: 0.5px solid $primary_color;
            border-radius: 4px;
            margin-right: 10px;
            height: 28px;
        }

        .active {
            background: $primary_color;
            color: #fff;
        }
    }
}

#file {
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 40px;
    right: 0;
    top: 30px;
    opacity: 0;
}

#storageFile {
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 40px;
    right: 0;
    top: 30px;
    opacity: 0;
}

#parseFile {
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 40px;
    right: 0;
    top: 30px;
    opacity: 0;
}


#onChainFile{
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 40px;
    right: 0;
    top: 30px;
    opacity: 0;
}


#trading_info {
    top: 80px;

    .table {
        td {
            width: 980px;
            padding: 0 60px;
        }

        th {
            width: 160px;
        }
    }
}

#account_info {
    .modal-header {
        border-bottom: none;
        padding: 0 20px 0 60px;
        height: auto;
    }

    .modal-body {
        margin: 20px 0 40px;

        .table {
            border: none;

            td {
                border: none;
                padding-left: 0;
                width: 900px;
                line-height: normal;
                font-weight: bold;

                .accountName {
                    span {
                        line-height: 40px;
                        vertical-align: middle;
                    }

                    img {
                        margin-left: 20px;
                        width: 20px;
                        line-height: 40px;
                        vertical-align: middle;
                    }
                }

                .rewriteName {
                    .el-input {
                        width: 140px;

                        .el-input__inner {
                            height: 30px;
                        }

                        .el-input__inner:focus {
                            border-color: $primary_color;
                        }
                    }

                    .common_btn {
                        width: 60px;
                        height: 30px;
                        margin-left: 10px;
                    }
                }

                .QRcode {
                    position: relative;
                    height: 80px;
                    padding-top: 10px;

                    img {
                        width: 25px;
                        display: inline;

                        &:hover {
                            width: 80px;
                        }
                    }
                }

            }

            th {
                border: none;
                text-align: left;
                padding-left: 60px;
                font-weight: normal;
            }

            tr {
                background: none;
            }

            .th80 {
                vertical-align: top;
                padding-top: 10px;
            }

        }
    }
    .pocScore-detail {
        .primary-color-address {
            color: $primary_color;
        }
    }
}

#assets_across_chains_modal{
    width: 750px;

    ul {
        list-style-type: none;
    }
    .tab {
        width:500px;
        margin: 10px auto
    }
    a {
        text-decoration: none;
    }
    a:link{text-decoration: none;color: gray}

    a:active{text-decoration:blink}

    a:hover{color:#3fb09a}

    a:visited{text-decoration: none;color:#000}

    .title li{
        display: inline-block;
        // border: 1px solid rgb(158, 158, 158);
        background:  #ffffff;
        text-align: center;
        width: 80px;
        height: 30px;
        line-height: 30px;
        margin-right: -5px;
        color: #000;
        cursor:pointer;
        border: 1px solid #DCDFE6;
        border-radius: 4px 0 0 4px;
    }
    .title .active{
        background:  #3fb09a;
        a:hover{color :#ffffff};
        color :#ffffff;
    }
    #content{
        margin-top: 20px;
        width: 100%;
        height: 340px;
    }

    .modal-footer{
        font-size: 14px;
        line-height: 20px;
    }

    .input__rate{
        width: 40%;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 4px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        margin-top: 0;
        background-color: #FFF;
        background-image: none;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
    }

    .input__mw{
        width: 30%;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 4px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        margin-top: 0;
        background-color: #FFF;
        background-image: none;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
    }

    .input__heco{
        width: 30%;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 4px;
        line-height: 40px;
        padding: 0 15px;
        background-color: #FFF;
        background-image: none;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        position: absolute;
        right: 137px;
    }

    .input_unit{
        position: absolute;
        left: 193px;
        color: #555;
        line-height: 40px;
        background: none;
        border: none;
        font-size: 14px;
    }

    .input_hecoUnit{
        position: absolute;
        right: 152px;
        color: #555;
        line-height: 40px;
        background: none;
        border: none;
        font-size: 14px;
    }

    .input__equals{
        position: absolute;
        margin:0px 65px;
        font-size: 30px;
        line-height: 40px;
    }

    .input_exchange{
        position: absolute;
        right: 40px;
        width: 100px;
        background: #3fb09a;
        color:#000;
    }
}

.modal-hidden{
    background: #efefef;
    -moz-opacity:0.9;
    opacity:0.9;
}

#send_message_modal {
    .modal-content {
        .modal-message {

        }
    }
}


@media only screen and (max-width: 780px) {
    .block_account .w {
        width: auto;
        margin: 0 15px;
    }

    .block_receiptDisbursement .w {
        width: auto;
        margin: 0 15px;
        height: 400px;
    }

    .exchange {
        display: none;
    }
}

// .st0{fill:#FFFFFF;}
.st0{fill:#3FB09A;}

.writeBtn:hover{
    .st0{
        fill:#FFFFFF;
    }
}

.st1{fill:none;}

#showChain{
    top:100px;
    z-index: 10000;
    height: 210px;
    width: 600px;
    color: #000;

    .content{
        text-align: center;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .modal-footer{
        position: relative;
    }

    .sureButton{
        position:absolute;
        left: 100px;
    }

    .cancelButton{
        position:absolute;
        right: 100px;
    }

}

.address{
    a {
        text-decoration: none;
    }
    a:link{text-decoration: none;color: gray}

    a:active{text-decoration:blink}

    a:hover{color:#3fb09a}

    a:visited{text-decoration: none;color:#000}
}

#acrossChains_rate_mw{
    width: 50%;
}

#acrossChains_rate_heco{
    width: 50%;
}

#transfer_accounts_modal{
    z-index: 100000;
}

#exchangeSelectType{
    min-width: 80px;
    margin-left: 8px;
}

.disabledExchangeBtn{
    display: none;
}


