.DS_Store
.svn
.idea*
*.iml
classes
out
contrib
logs
sharder_db
sharder_test_db
*.bat
jre

/html/www/

conf/.lock
conf/localstorage

DestroyForgePool
ForgePools
SharderPools
DestroyedPools

# storage/ipfs/bin
storage/
.ipfs
bin.exe