.DS_Store
.svn
.idea*
*.iml
classes
out
contrib
# *.bat
jre
.vscode

package-lock.json

/LocalTest

!/html/www/
/html/www/*
!html/www/img/

conf/.lock
conf/localstorage
conf/sharder.properties
conf/local-debug.properties
conf/genesis.json
conf/crowd_miner.json
src/test/java/org/conch/offline

DestroyForgePool
ForgePools
SharderPools
DestroyedPools

logs
sharder_db
sharder_test_db
sharder_test_db*
bak/
ARCHIVE/
archive/
temp/

# storage/
.ipfs
bin.exe
storage/ipfs/bin