.DS_Store
.svn
.idea*
*.iml
classes
out
contrib
logs
sharder_db
sharder_test_db
*.bat
jre

conf/.lock
conf/localstorage

DestroyForgePool
ForgePools

# storage/ipfs/bin
storage/
.ipfs
bin.exe
