@import '../../styles/css/vars.scss';
.content_enter{
    a{
        font-family: "Microsoft YaHei";
        color: #333333;
        font-size: 14px;
    }
    :nth-child(3){
        text-align: right;
        margin-top: 30px;
    }
    .tip{
        margin-top: 38px;
        .text{
            color: #333333;
        }
        .address{
            color: $primary_color;
            font-weight: bold;
        }
        .warning{
            color: red;
            font-weight: bold;
        }
    }
    .input{
        margin-top: 10px;
        textarea{
            resize:none;
            //background: #edeff5;
            color: $primary_color;
            font-size: 16px;
            font-weight: bold;
            line-height: 28px;
            font-family: 'Roboto', sans-serif;
        }
    }
}
