/*可复用组件样式*/
#app .page-layout main {
    height: initial !important;
    transform: initial !important;
    overflow-x: initial !important;
    position: initial !important;
    width: 1200px !important;
    margin: auto;
}

.block_title {
    font-size: 14px;
    color: #493eda;
    margin: 2px 20px 10px 0;

    > img {
        vertical-align: middle;
        margin-right: 5px;
        width: 14px;
        height: 14px;
    }

    > span {
        color: #000;
        vertical-align: middle;
    }
}

.radius_blue {
    color: #493eda;
    border-radius: 4px;
    border: 1px solid #493eda;
}

.block_blue.radius_blue {
    background: #493eda;
}

.block_blue {
    height: 120px;
    width: 390px;
    padding: 20px;
    margin-right: 15px;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    color: #fff;

    &:last-child {
        margin-right: 0;
    }

    p:first-child {
        margin-bottom: 0;
    }

    P:nth-child(2) {
        vertical-align: middle;
        font-size: 28px;
        margin: 0;
        text-align: center;
    }

    p:nth-child(3) {
        font-weight: normal;
        text-align: center;
        font-size: 13px;
        margin-top: 18px;
        margin-bottom: 0;
    }
}

.block_list {
    .list_table {
        display: grid;
        background: #fff;
        box-shadow: 0 0 1em #493eda1f;
        margin-bottom: 80px;

        .list_content {
            display: grid;

            table {
                border-collapse: collapse;

                tr {
                    border-top: 1px solid #ddd;
                    height: 40px;
                }

                th {
                    vertical-align: middle;
                    text-align: center;
                    height: 60px;
                    color: #333;
                    font: {
                        family: "Microsoft YaHei UI";
                        size: 14px;
                        weight: bold;
                    }
                }

                td {
                    vertical-align: middle;
                    text-align: center;
                    color: #333;
                    font: {
                        family: "Microsoft YaHei UI";
                        size: 12px;
                    }

                }


                .image_text {
                    span {
                        vertical-align: middle
                    }

                    img {
                        vertical-align: middle;
                        width: 14px;
                        height: 14px;
                    }
                }

                .patch {
                    background: #edeff5;
                    padding: 4px 12px;
                    border-radius: 4px;
                    width: 80px;
                    display: inline-block;
                }

                .list_button {
                    cursor: pointer;
                    background: #493eda;
                    color: #fff;
                    border: none;
                    margin: 5px;
                    border-radius: 4px;
                    font-size: 12px;
                    padding: 4px;
                }
            }
        }

        .list_pagination {
            border-top: 1px solid #ddd;
            height: 60px;
            text-align: right;
            vertical-align: middle;
        }
    }

    .blockInfo {
        margin-top: 20px;
    }
}

/*element tooltip background color*/
.el-tooltip__popper {
    color: #ffffff !important;
    background: #493eda !important;
    z-index: 9999 !important;
}

.el-tooltip__popper.is-light .popper__arrow:after {
    border-top-color: #493eda !important;
    border-bottom-color: #493eda !important;
    z-index: 9999 !important;
}

.common_btn {
    cursor: pointer;
    height: 40px;
    background: #493eda;
    border: none;
    border-radius: 4px;
    color: #fff;

    .icon {
        display: inline-flex;
        height: 100%;
        width: 14px;

        svg {
            width: 14px;
        }
    }
}

.imgBtn {
    margin: 0 15px;

    span {
        vertical-align: middle;
        margin-left: 5px;
    }
}

.imgBtn:hover {
    svg {
        fill: #493eda;
        transition: .4s;
    }
}

.common_btn:hover {
    background: #fff;
    color: #493eda;
    border: 1px solid #493eda;
    transition: .4s;
}

/*按钮样式 反色*/
.common_btn_contrary {
    background: #fff;
    border: 1px solid #493eda;
    color: #493eda;
}

.common_btn_contrary:hover {
    background: #493eda;
    color: #fff;
    transition: .4s;
}

.writeBtn {
    background: #fff;
    color: #493eda;
    border: 1px solid #493eda;
    border-radius: 5px;

    svg {
        fill: #493eda;
    }

    &:hover {
        background: #493eda;
        color: #fff;
        border: 1px solid #493eda;
        transition: .4s;

        svg {
            fill: #fff;
            transition: .4s;
        }
    }
}

.medium {
    height: 40px;
    width: 120px;
    margin-top: 10px;
}

.modal {
    position: absolute;
    background: #fff;
    top: 0;
    width: 600px;
    border-radius: 7px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 9999;

    .modal-dialog {
        .modal-content {
            .modal-header {
                position: relative;
                text-align: center;
                height: 60px;
                border-bottom: 1px solid #eee;

                .close {
                    position: absolute;
                    right: 10px;
                    background: url("../../assets/img/error.svg") no-repeat center;;
                    border: none;
                    width: 20px;
                    height: 20px;
                    top: 10px;
                    cursor: pointer;
                }

                .modal-title {
                    text-align: center;
                    font-size: 16px;
                    color: #333;
                    font-weight: bold;
                    line-height: 60px;
                }
            }

            .modal-body {
                margin: 22px 40px;

                p {
                    font-size: 14px;
                    color: #333;
                    margin-bottom: 10px;
                }

                input {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                }

                .el-form {
                    .el-form-item {
                        margin-bottom: 20px;

                        .el-form-item__label {
                            font-size: 14px;
                            color: #333;
                            line-height: 19.2px;
                            margin-bottom: 10px;
                            padding-right: 20px;
                        }

                        .el-checkbox {
                            line-height: 19.2px;
                            float: left;
                            margin-bottom: 10px;

                            .el-checkbox__input.is-checked .el-checkbox__inner,
                            .el-checkbox__input.is-indeterminate .el-checkbox__inner {
                                background: #493eda;
                                border-color: #493eda;
                            }

                            .el-checkbox__inner:hover {
                                border-color: #493eda;
                            }

                            .el-checkbox__input.is-focus .el-checkbox__inner {
                                border-color: #493eda;
                            }

                            .el-checkbox__label {
                                padding-left: 6px;
                                font-size: 13px;
                                color: #bbb;
                            }

                            .el-checkbox__input.is-checked + .el-checkbox__label {
                                color: #493eda;
                            }
                        }

                        .el-form-item__content {
                            line-height: normal;
                        }

                        .el-textarea__inner:focus {
                            border-color: #493eda;
                        }

                        .input-with-select {
                            .el-input__inner {
                                border-radius: 4px 0 0 4px;
                                border-right: none;
                                height: 42px;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            .el-input-group__append, .el-input-group__prepend {
                                color: #fff;
                                background: #493eda;
                                border: none;
                            }
                        }

                        .input_suffix {
                            position: absolute;
                            right: 15px;
                            top: calc(85% - 29.2px);
                            color: #333;
                            line-height: 40px;
                            background: none;
                            border: none;
                        }

                        .el-slider__runway {
                            height: 2px;
                            margin: 35px 0 0;
                            background-color: #e4e7ed;

                            .el-slider__bar {
                                height: 2px;
                                background-color: #493eda;
                            }

                            .el-slider__button-wrapper {
                                top: -12px;
                                height: 25px;
                                width: 25px;
                                line-height: normal;

                                .el-slider__button {
                                    border: none;
                                    background-color: #493eda;
                                }
                            }
                        }

                        .el-slider__input {
                            float: left;
                            margin-top: 0;
                            line-height: normal;
                            width: 30px;

                            .el-input-number__increase {
                                display: none;
                            }

                            .el-input-number__decrease {
                                display: none;
                            }

                            .el-input {
                                .el-input__inner {
                                    height: 20px;
                                    padding: 0;
                                    width: 50px;
                                }
                            }
                        }

                    }
                }
            }

            .modal-footer {
                margin: 30px 40px;

                .btn {
                    width: 100%;
                    height: 40px;
                    background: #493eda;
                    border: none;
                    border-radius: 4px;
                    font-size: 14px;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}

.modal_info {
    position: absolute;
    background: #fff;
    top: 0;
    width: 1200px;
    min-height: 360px;
    border-radius: 4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 9999;

    .modal-header {
        position: relative;
        padding: 0 30px;
        height: 60px;
        border-bottom: 1px solid #eee;

        .close {
            width: 20px;
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        .modal-title {
            line-height: 60px;
            font-size: 16px;
            color: #333;
            font-weight: bold;
        }
    }

    .modal-body {
        margin: 30px;

        .table {
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            word-break: break-all;

            tr {
                height: 40px;

                &:nth-child(even) {
                    background: #f4f7fc;
                }
            }

            td {
                border-left: 1px solid #ddd;
                border-top: 1px solid #ddd;
                width: 370px;
                padding-left: 20px;
                font-size: 14px;
                color: #333;
                line-height: 40px;
            }

            th {
                border-left: 1px solid #ddd;
                border-top: 1px solid #ddd;
                width: 200px;
                font-size: 14px;
                font-weight: bold;
                color: #333;
            }
        }
    }
}

.modal_hubSetting {
    position: fixed;
    background: #fff;
    top: 80px;
    width: 1200px;
    border-radius: 4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 9999;

    .modal-header {
        position: relative;
        text-align: center;
        height: 60px;
        border-bottom: 1px solid #eee;
        padding: 0 40px;

        .modal-title {
            text-align: center;
            font-size: 16px;
            color: #333;
            font-weight: bold;
            line-height: 60px;
            margin-left: 170px;
        }

        button {
            float: right;
            margin-top: 15px;
            font-size: 14px;
            height: 30px;
            width: 80px;

            &:first-child {
                margin-left: 10px;
            }
        }
    }

    .modal-body {
        padding: 30px 100px 80px;

        .version_info {
            span {
                font-size: 16px;
                font-family: "Microsoft YaHei UI";
                color: #333;

                &:nth-child(2) {
                    color: #493eda;
                    font-weight: bold;
                    padding: 0 10px;
                }

                &:nth-child(4) {
                    color: #f71616;
                    font-weight: bold;
                    padding: 0 10px;
                }
            }
        }

        .el-form {
            margin-top: 40px;

            .el-form-item {
                margin-bottom: 10px;

                .el-form-item__label {
                    font-weight: bold;
                    color: #333;
                    padding: 0;
                    font-size: 16px;
                    font-family: "Microsoft YaHei UI";
                }

                .el-checkbox {
                    .el-checkbox__input.is-checked .el-checkbox__inner,
                    .el-checkbox__input.is-indeterminate .el-checkbox__inner {
                        background: #493eda;
                        border-color: #493eda;
                    }

                    .el-checkbox__inner:hover {
                        border-color: #493eda;
                    }

                    .el-checkbox__input.is-focus .el-checkbox__inner {
                        border-color: #493eda;
                    }

                    .el-checkbox__label {
                        padding-left: 6px;
                        font-size: 13px;
                        color: #bbb;
                    }

                    .el-checkbox__input.is-checked + .el-checkbox__label {
                        color: #31da78;
                    }
                }
            }
        }

        .footer-btn {
            margin-top: 30px;

            button {
                float: right;
                height: 40px;
                width: 120px;
                font-size: 16px;

                &:first-child {
                    margin-left: 30px;
                }
            }
        }
    }
}

.linker {
    color: #493eda !important;
    cursor: pointer !important;

    a {
        margin: 0 6px !important;
    }

}

.el-pagination {
    margin-top: 14px;

    button:hover {
        color: #493eda;
    }

    button:disabled {
        color: #c0c4cc;
    }

    .el-pager li.active {
        background: #493eda;
        border-color: #493eda;
        color: #fff;
    }

    .el-pager li:hover {
        color: #493eda;
    }

    .el-pager li.active:hover {
        color: #fff;

    }

    .el-pagination__jump {
        .el-pagination__editor.el-input .el-input__inner {
            height: 25px;
            border: none;
        }
    }
}

.transaction-img {
    span.bg {
        display: inline-block;
        width: 16px !important;
        height: 16px !important;
    }

    span.type0 {
        background-image: url("../../assets/img/pay.svg");
    }

    span.type10 {
        background-image: url("../../assets/img/infomation.svg");
    }

    span.type15 {
        background-image: url("../../assets/img/rename.svg");
    }

    span.type60 {
        background-image: url("../../assets/img/storage.svg");
    }

    span.type80 {
        background-image: url("../../assets/img/forge_pool.svg");
    }

    span.type90 {
        background-image: url("../../assets/img/coinBase.svg");
    }

    // node type
    span.type120 {
        background-image: url("../../assets/img/POC.svg");
    }

    // node config
    span.type121 {
        background-image: url("../../assets/img/POC.svg");
    }

    // weight table
    span.type122 {
        background-image: url("../../assets/img/POC.svg");
    }

    // online rate
    span.type123 {
        background-image: url("../../assets/img/POC.svg");
    }

    // block missing
    span.type124 {
        background-image: url("../../assets/img/POC.svg");
    }

    // bc speed
    span.type125 {
        background-image: url("../../assets/img/POC.svg");
    }

}

.left-txt {
    text-align: left !important;
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    background: #493eda !important;
}

.el-button--primary {
    background: #493eda !important;
    border-color: #493eda !important;
}

#blocks_table, #peers_table {
    width: 100%;
}

#blocks_table {
    position: relative;
    tbody {
        .el-loading-mask {
            top: 61px;
        }
    }
}

input:focus {
    border-color: #493eda !important;
}
