.content_login{
    text-align: center;
    .login_operation{
        margin-top: 10px;
        > input{
            text-align: center;
            width: 510px;
            height: 40px;
            background-color:#edeff5;
            border-radius: 4px;
            border: 0px;
            font-size: 14px;
            font-family:"Microsoft YaHei";
            outline: none;
            margin-top: 10px;
        }
        .common_btn{
            width: 416px;
        }
    }
    :nth-child(3){
        a{
            font-size: 14px;
            margin-left: 2px;
            cursor: pointer;
            text-decoration:none;
        }
        img{
            width: 14px;
            height: 14px;
            cursor: pointer;
            vertical-align: middle;
        }
        text-align: center;
    }
    .switch{
        margin-top: 15px;
        text-align: left;
        > button {
            border-radius: 4px;
            height: 30px;
            width: 100px;
            cursor: pointer;
            outline: none;
        }
    }
    .el-button{
        height: 45px;
        //color: #fff;
        margin: 40px auto 30px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 780px) {
    .container_login .content {
        width: 375px;
    }
    .container_login .content .content_message {
        padding: 0 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .container_login .content .content_operation {
        margin: 0 15px 30px;
        padding: 0 15px;
        .content_container {
            width: auto;
        }
    }
    .content_login .login_operation > input {
        width: 100%;
    }
    .content_login .login_operation .common_btn {
        width: 60%;
    }
}

