.header {
    width: 100%;
    height: 80px;
    background: #fff;
    .header_content {
        width: 1200px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        #logo {
            margin-right: 55px;
            vertical-align: middle;
            .logo {
                display: flex;
                height: 80px;
                text-decoration: none;
                &:hover{
                    color: #493eda;
                    text-decoration: none !important;
                }
                &:focus{
                    outline: none;
                    text-decoration: none !important;
                }
                img {
                    margin-bottom: auto;
                    margin-top: auto;
                    width:40px;
                    height:46px;
                }
                div:last-child {
                    display: grid;
                    margin-left: 6px;
                    margin-top: auto;
                    margin-bottom: auto;
                    color: #493eda;
                    font-family: "Microsoft YaHei UI";
                    span:first-child {
                        font-size: 20px;
                        font-weight: bold;
                    }
                    span:last-child {
                        font-size: 12px;
                    }
                }
            }
        }
        .navbar_main {
            display: flex;
            .navbar_left {
                display: inline-flex;
                padding: 0;
                height: 100%;
                margin: 0 55px 0 0;
                background: transparent;
                .el-menu-item {
                    outline: none;
                    list-style: none;
                    height: 80px !important;
                    width: 60px;
                    text-align: center;
                    line-height: 80px !important;
                    font-size: 14px;
                    color: #333;
                    font-family: "Microsoft YaHei UI";
                    padding:0;
                    outline: none;
                    img{
                        width: 20px;
                        height: 16px;
                    }
                    &:hover{
                        background: transparent;
                        font-weight: bold;
                        border-bottom: 4px solid #493eda;
                        cursor: pointer;
                    }
                }
                .activeLi {
                    border-bottom: 4px solid #493eda!important;
                    color: #493eda !important;
                    font-weight: bold;
                }
            }
            .console_bar{
                width: 20px;
                padding-top: 3px;
                line-height: 80px;
                margin: 0 52px 0 -10px;
            }
            .navbar_search {
                width: 255px;
                height: 100%;
                position: relative;
                div {
                    top: 25%;
                    position: absolute;
                    img {
                        position: absolute;
                        right: 15px;
                        top: 10px;
                        width: 20px;
                        height:20px;
                    }
                    .navbar_search_input {
                        width: 100px;
                        height: 40px;
                        background: #edeff5;
                        border: none;
                        border-radius: 20px;
                        padding-left: 20px;
                        color: #999;
                        font-size: 14px;
                        outline: none;
                        transition:500ms width;

                    }
                    .navbar_search_input_active{
                        transition:500ms width;
                        width: 300px;
                    }
                }
            }
            .navbar_right {
                display: flex;
                height: 80px;
                .navbar_status {
                    height: 80px;
                    line-height: 80px;
                    margin-right: 20px;
                    span {
                        font-size: 12px;
                        color: #e64758;
                        font-family: "Microsoft YaHei UI";
                        font-weight: bold;
                    }
                }
                .navbar_pilotLamp {
                    position: relative;
                    margin-right: 20px;
                }
                .pilotLamp_circle {
                    background: #1bc98e;
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    top: 35px;
                }
                .navbar_exit {
                    margin-right: 20px;
                    position: relative;
                    line-height: 80px;
                    font-size: 13px;
                    color: #493eda;
                }
                .navbar_lang{
                    button {
                        width: 70px;
                        height: 30px;
                        background: #fff;
                        border: 1px solid #493eda;
                        padding: 4px 15px 4px 0px;
                        font-size: 13px;
                        border-radius: 20px;
                        color: #493eda;
                        position: relative;
                        top: 25px;
                        outline: none;
                        .triangle {
                            position: absolute;
                            top: 12px;
                            right: 10px;
                            border: 6px solid transparent;
                            border-top: 6px solid #493eda;
                        }
                    }
                }
            }
        }
    }
}
