/*可复用组件样式*/


.block_title{
    font-size: 14px;
    font-family: "Microsoft YaHei UI";
    color:#493eda;
    margin-bottom: 10px;
    >img{
        vertical-align: middle;
        margin-right: 5px;
        width:14px;
        height:14px;
    }
    >span{
        color:#000;
        vertical-align: middle;
    }
}

.radius_blue{
    border-radius: 4px;
    background: #493eda;
}

.block_blue{
    height: 120px;
    width: 390px;
    padding: 20px;
    margin-right: 15px;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    color: #fff;
    &:last-child{
        margin-right: 0;
    }
    p:first-child{
        margin-bottom: 0;
    }
    P:nth-child(2){
        vertical-align: middle;
        font-size: 28px;
        margin: 0;
        text-align: center;
    }
    p:nth-child(3){
        font-weight: normal;
        text-align: center;
        font-size: 13px;
        margin-top: 18px;
        margin-bottom: 0;
    }
}

.block_list{
    .list_table{
        display: grid;
        background: #fff;
        box-shadow: 0 0 1em #493eda1f;
        margin-bottom: 80px;
        .list_content {
            display: grid;
            table{
                border-collapse: collapse;
                tr {
                    border-top: 1px solid #ddd;
                    height: 40px;
                }
                th {
                    vertical-align: middle;
                    text-align: center;
                    height: 60px;
                    color: #333;
                    font:{
                        family: "Microsoft YaHei UI";
                        size: 14px;
                        weight: bold;
                    }
                }
                td {
                    vertical-align: middle;
                    text-align: center;
                    color: #333;
                    font:{
                        family: "Microsoft YaHei UI";
                        size: 12px;
                    }

                }

                .linker{
                    color:#493eda;
                    a{
                        margin: 0 6px;
                    }

                }

                .image_text{
                    span{vertical-align: middle}
                    img{
                        vertical-align: middle;
                        width:14px;
                        height:14px;
                    }
                }

                .patch{
                    background: #edeff5;
                    padding: 4px 12px;
                    border-radius: 4px;
                }

                .list_button{
                    background: #493eda;
                    color: #fff;
                    border: none;
                    margin: 5px;
                    border-radius: 4px;
                    font-size: 12px;
                }
            }
        }
        .list_pagination {
            border-top: 1px solid #ddd;
            text-align: right;
        }
    }
}


/*element tooltip background color*/
.el-tooltip__popper{
    background: #493eda!important;
}
.el-tooltip__popper .popper__arrow:after {
    border-top-color:  #493eda!important;
    border-bottom-color:  #493eda!important;
}

.common_btn{
    height:40px;
    margin: 0 15px;
    background: #493eda;
    border: none;
    border-radius: 4px;
    color:#fff;
    img{
        vertical-align: middle;
        margin-bottom: 3px;
        width:14px;
        height:14px;
    }
    span{
        vertical-align: middle;
        margin-left: 5px;
    }
}
